@use '../utility/font.scss' as font;
@use '../utility/colors' as colors;


@mixin import($position) {
    #header__nav-laptop {
        display: none;
        position: absolute;
        top: 35px;
        left: $position;
        z-index: 1;

        #header__button-laptop {
            color: colors.$brandColor;
            font-size: 1.2rem;
            margin: 0;
            font-family: font.$font-family;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        #nav__categories {
            display: none;
            position: relative;
            top: 0px;
            left: 0px;
            background-color: white;
            min-width: 160px;
            margin: 0;
            padding: 0;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

            .category-link {
                text-decoration: none;
                color: colors.$titleColor;
                font-size: 1rem;
                font-family: font.$font-family;
                padding: 20px 16px;
                display: block;
                list-style-type: none;
            }

            .category-link:hover {
                background-color: colors.$secondaryColor;
            }
        }
    }

    #header__nav-laptop:hover #header__button-laptop {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    @media (min-width: 959px) {

        #header__nav-laptop {
            display: block;
        }

        #header__nav-laptop:hover #nav__categories {
            display: block;
        }
    }
}