@mixin import {
    #header__blackSheet {
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }
    
    #button__checkbox:checked ~ #header__blackSheet {
        display: block;
    }
}