@use '../object/utility/font' as font;
@use '../object/utility/colors' as colors;
@use './header-category' as header-category;
@use '../object/component/card' as card;


html {

    font-size: font.$fontSize;

    @include header-category.import;

    main {

        #main__categoryName {

            font-family: font.$font-family;
            color: colors.$brandColor;
            font-size: 1.5rem;
            margin: 1.5rem 0 1.5rem 0;
            text-align: center;

            @media (min-width: 519px) {
                font-size: 2rem;
            }

            @media (min-width: 959px) {
                margin: 3rem 0 3rem 0;
            }
        }


        .cards {

            width: 315px;
            margin-left: calc((100vw - 315px) / 2);
            padding-left: 0;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media (min-width: 519px) {
                width: 660px;
                margin-left: calc((100vw - 645px) / 2);
            }
    
            @media (min-width: 959px) {
                width: 990px;
                margin-left: calc((100vw - 975px) / 2);
            }

            @include card.import;
        }
    }
}
    