@use '../object/utility/font.scss' as font;
@use '../object/utility/colors' as colors;
@use '../object/component/header__button-mobile' as header__button-mobile;
@use '../object/component/header__nav' as header__nav;
@use '../object/component/header__blackSheet' as header__blackSheet;
@use '../object/component/header__nav-laptop' as header__nav-laptop;
@use '../object/component/header__firstView' as header__firstView;



@mixin import {

    header {

        #logo {
            width: 40%;
            padding: 10px;
            max-width: 300px;
        
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        @include header__button-mobile.import;

        @include header__nav-laptop.import(350px);

        @include header__nav.import;
    
        @include header__blackSheet.import;

        @include header__firstView.import;
    }
}




