@use '../utility/font.scss' as font;
@use '../utility/colors' as colors;


@mixin import {

    #header__nav-laptop {

        #logo {
            width: 40%;
            padding: 10px;
            max-width: 300px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        #categories__heading-laptop {
            color: colors.$brandColor;
            font-size: 1.2rem;
            margin: 0;
            padding: 0.6rem 0 0.6rem 0;
            font-family: font.$font-family;
            font-weight: bold;
            border: none;
            cursor: pointer;
            position: absolute;
            z-index: 1;  
            top: 25px;
            left: 350px;
        }

        #nav__categories {
            display: block;
            position: relative;
        }

        #categories__heading-close {
            display: none;
        }

        
    }
}